.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 65%;
  background-color: rgb(34, 127, 144);
  align-self: stretch;
  border-bottom: 3px solid rgb(191, 218, 224);
  border-right: 3px solid rgb(191, 218, 224);
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 2.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-left h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin: 1rem;
  margin-left: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.header-sponsors {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}